In [26]:
import os
import cv2
import numpy as np
import pandas as pd

In [27]:
df = pd.read_csv("/run/media/viper/LSP/Dataset/RAF-DB/basic/EmoLabel/list_patition_label.txt", sep=" ", header = None)
df.columns = ["filename", "label"]
df.head()

          filename  label
0  train_00001.jpg      5
1  train_00002.jpg      5
2  train_00003.jpg      4
3  train_00004.jpg      4
4  train_00005.jpg      5

In [28]:
def full_fill_filename(row, aligned = True):
    base_path = "/run/media/viper/LSP/Dataset/RAF-DB/basic/Image/aligned/"
    row_decompose = row.split('.')
    align_name = row_decompose[0] + "aligned" + "." + row_decompose[-1]
    return os.path.join(base_path, row), os.path.join(base_path, align_name)
    

def get_img_size(row):
    img = cv2.imread(row)

In [29]:
df["orign_fr"], df["align_fr"] = df["filename"].apply(full_fill_filename)

ValueError: too many values to unpack (expected 2)

In [15]:
df.head()

                                            filename  label
0  /run/media/viper/LSP/Dataset/RAF-DB/basic/Imag...      5
1  /run/media/viper/LSP/Dataset/RAF-DB/basic/Imag...      5
2  /run/media/viper/LSP/Dataset/RAF-DB/basic/Imag...      4
3  /run/media/viper/LSP/Dataset/RAF-DB/basic/Imag...      4
4  /run/media/viper/LSP/Dataset/RAF-DB/basic/Imag...      5

In [18]:
img = cv2.imread(df.iloc[0]["filename"])

In [21]:
img.shape

AttributeError: 'NoneType' object has no attribute 'shape'

In [22]:
df.iloc[0]["filename"]

'/run/media/viper/LSP/Dataset/RAF-DB/basic/Image/aligned/train_00001.jpg'

In [23]:
os.path.isfile(df.iloc[0]["filename"])

False

In [24]:
a = 'train_00001.jpg'.split('.')

In [25]:
a

['train_00001', 'jpg']